html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
}

nav,
.page-name,
.nav-options {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-around;
  gap: 50vw;
}

nav {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-options {
  list-style-type: none;
  gap: 3vw;
  right: 15vw;
}

.page-name {
  left: 15vw;
}

.nav-options li a:hover {
  color: #f9995d;
}

.page-name {
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #2947a9;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5vw;
}

.page-logo img {
  width: 2vw;
  height: fit-content;
}

.nav-options li {
  margin-top: 2vh;
  font-weight: 600;
  font-size: 1vw;
  font-style: normal;
  height: fit-content;
}

.page-banner {
  width: 100%;
  height: 100vh;
  background-image: url("../images/pageBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-banner h1 {
  position: absolute;
  width: 40%;
  font-size: 5vw;
  margin-top: 35vh;
  margin-left: 9vw;
  font-weight: bolder;
}

.page-banner-sub-box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 68vw;
  margin-top: 70vh;
}

.feature-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27vw;
  height: 25vh;
  background-color: #3559c7;
  text-align: center;
  color: #ffffff;
}

.feature-projects h5 {
  margin: 20px;
  font-size: 3vh;
  font-weight: 600;
}

.feature-projects p {
  width: 70%;
  font-size: 3vh;
  font-weight: 200;
}

.page-banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.page-banner-back-button,
.page-banner-next-button {
  background-color: #292e3d;
  width: 13.4vw;
  padding: 8px 0.5px;

  display: flex;
  gap: 15px;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
}

.page-banner-back-button a,
.page-banner-next-button a {
  color: #ffffff;
  text-decoration: none;
}

.page-banner-next-button img,
.page-banner-back-button img {
  width: 30px;
  height: 20px;
}

.reputation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reputation h2 {
  font-size: 6vh;
  font-family: "Work Sans", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reputation-items {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.reputation-items-best-services,
.reputation-items-best-design,
.reputation-items-best-teams {
  border: 1.5px solid #e0e3eb;
  border-radius: 5px;
  width: 20vw;
  height: 15vw;
}

.reputation-items-best-services img,
.reputation-items-best-design img,
.reputation-items-best-teams img {
  width: 4vw;
  height: auto;
  margin: 30px;
}

.reputation-items-best-services h3,
.reputation-items-best-design h3,
.reputation-items-best-teams h3 {
  margin: -5px auto auto 30px;
  font-size: 1.5vw;
}

.reputation-items-best-services p,
.reputation-items-best-design p,
.reputation-items-best-teams p {
  margin: 20px 30px;
  font-size: 1vw;
}

.about-us {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.about-us img {
  width: 65vw;
  height: 90vh;
  position: relative;
  z-index: 1;
  left: 10vw;
  top: 15vh;
}

.about-sub-box {
  background-color: #2947a9;
  position: relative;
  z-index: 2;
  width: 30vw;
  height: 60vh;
  top: 25vh;
  left: -3vw;
}

.about-us h3 {
  font-size: 6vh;
  margin: 4vh;
}

.about-us p {
  font-size: 2vh;
  margin: 4vh;
  justify-content: left;
}

.about-us button {
  width: 13vw;
  height: 5vh;
  margin: 4vh;
  position: relative;
  top: 5vh;
  color: #2947a9;
  font-size: 1.8vh;
  font-weight: 600;
}

.services {
  margin-top: 25vh;
  padding-bottom: 20vh;
  background-color: #f6f8f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.services h3 {
  font-size: 5vh;
}

.sub-services {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.services img {
  margin-top: 5vh;
  margin-bottom: 0;
  width: 3vw;
  height: auto;
}

.services hr {
  background-color: #e0e3eb;
  width: 30%;
  height: 2px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.services h4 {
  margin-top: 0;
  font-size: 2vw;
}

.service-construction,
.service-consultation,
.service-architecture {
  width: 20vw;
  height: 30vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2947a9;
}

.service-renovation,
.service-repair-services,
.service-electric {
  width: 20vw;
  height: 30vh;
  background-color: #2947a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.experience {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
}

.experience-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-items h3 {
  font-size: 10vh;
  position: relative;
}

.experience-items p {
  font-size: 2.5vh;
  width: 60%;
  height: 2vh;
  padding: 1vw;
  border-left: 0.75vw solid #f9995d;
}

.experience img {
  position: relative;
  width: 8vw;
  height: 12vh;
}

.experience-items p {
  width: 85%;
  position: relative;
  left: 10vw;
  color: #525b7a;
  font-size: 0.9vw;
  text-align: left;
  letter-spacing: 5px;
  font-weight: 600;
}

.experience-item-happy-clients,
.experience-item-projects-completed,
.experience-item-awards-win,
.experience-item-years-in-business {
  width: 20vw;
  height: 18vh;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
  border-radius: 4px;
  background: transparent;
}

.experience-item-happy-clients,
.experience-item-awards-win {
  position: relative;
  left: 17vw;
  z-index: 2;
}

.experience-item-projects-completed,
.experience-item-years-in-business {
  position: relative;
  z-index: 1;
}

.experience-item-happy-clients {
  top: 5vh;
}

.experience-item-awards-win {
  top: -5vh;
}

.experience-item-years-in-business {
  top: -10vh;
}

.experience-item-happy-clients h3 {
  top: -23vh;
  left: 2vw;
}

.experience-item-happy-clients img {
  top: -4vh;
  left: 80%;
}

.experience-item-projects-completed img {
  top: -4vh;
  left: -3vw;
}

.experience-item-awards-win img {
  top: -4vh;
  left: 75%;
}

.experience-item-years-in-business img {
  top: 10vh;
  left: 92%;
}

.experience-item-awards-win h3,
.experience-item-projects-completed h3,
.experience-item-years-in-business h3 {
  top: -24vh;
  left: 5.5vw;
}

.experience-item-happy-clients p,
.experience-item-projects-completed p {
  top: -34vh;
  left: 2.75vw;
}

.experience-item-awards-win p {
  top: -35vh;
  left: 5vw;
}

.experience-item-years-in-business p {
  top: -35vh;
  left: 3vw;
}

.experience-details {
  width: 50%;
}

.experience-details h2 {
  margin-top: 12vh;
  position: relative;
  left: 5vw;
  width: 70%;
  color: #2947a9;
  font-size: 4vw;
  font-weight: 600;
  text-align: left;
}

.experience-details p {
  position: relative;
  width: 55%;
  left: 5vw;
  color: #525b7a;
  font-size: 1vw;
  justify-content: left;
  text-align: left;
  letter-spacing: 5px;
  font-weight: 600;
}

.experience-details button {
  background-color: #2947a9;
  font-size: 1vw;
  color: #ffffff;
  width: 10vw;
  height: 5vh;
  position: relative;
  left: 5vw;
  top: 4vh;
  border-radius: 2px;
}

.consultation {
  background: url("../images/lowerBanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.consultation h2 {
  width: 70%;
  font-size: 4.5vh;
  height: fit-content;
  position: relative;
  left: 10vw;
  top: 10vh;
}

.consultation div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 5vh;
  position: relative;
  top: 18vh;
  left: -2vw;
  font-size: 1.85vh;
  font-weight: 600;
  border: #ffffff 2px solid;
}

.consultation p {
  position: relative;
  height: fit-content;
  width: fit-content;
  left: -18.5vw;
  top: 4vh;
  font-size: 3.5vh;
  font-weight: 300;
}

.projects {
  width: 100%;
  height: fit-content;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.projects-sidebar {
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding: 5vw;
  width: 30%;
}

.projects-sidebar h3,
.projects-sidebar p {
  width: fit-content;
  position: relative;
  top: 0.75vh;
  left: 10vw;
}

.projects-sidebar h3 {
  font-size: 5vh;
}

.projects-sidebar p:nth-child(2) {
  font-size: 2.5vh;
  padding-left: 1vw;
  border-left: 0.5vw solid #2947a9;
  color: #2947a9;
  font-weight: 600;
}

.projects-sidebar p {
  font-size: 2.5vh;
  padding-left: 1vw;
  color: #c2c7d6;
}

.projects-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  gap: 1.5vw;
  padding: 15vh;
  height: fit-content;
}

.projects-container-infra-hotel,
.projects-container-wish-stone,
.projects-container-parkinston-house,
.projects-container-oregano-height {
  display: flex;
  flex-direction: column;
  background-color: #2947a9;
  color: #ffffff;
  height: 47vh;
}

.projects-container-infra-hotel img,
.projects-container-wish-stone img,
.projects-container-parkinston-house img,
.projects-container-oregano-height img {
  width: 26vw;
  height: 35vh;
}

.projects-container-infra-hotel h3,
.projects-container-wish-stone h3,
.projects-container-parkinston-house h3,
.projects-container-oregano-height h3 {
  font-size: 3vh;
  padding-left: 1vw;
}

.projects-container-infra-hotel p,
.projects-container-wish-stone p,
.projects-container-parkinston-house p,
.projects-container-oregano-height p {
  font-size: 1vw;
  padding-left: 1vw;
  position: relative;
  top: -4vh;
}

.projects-container-buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 100%;
  height: fit-content;
}

.projects-back-button,
.projects-next-button {
  background-color: #292e3d;
  width: 17.7vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  gap: 1vw;
}

.projects-back-button a,
.projects-next-button a {
  color: #ffffff;
  text-decoration: none;
}

.projects-back-button img,
.projects-next-button img {
  width: 2vw;
  height: 3vh;
}

.projects-dots-design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: #ffffff;
  width: 16vw;
  height: 8vh;
}

.dots-design {
  background-color: #f6f8f7;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
}

.projects-dots-design div:nth-child(1) {
  background-color: #2947a9;
}

.contact {
  height: fit-content;
  width: 100%;
  background-color: #f6f8f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.contact h2 {
  font-size: 4vh;
}

.contact h4 {
  font-size: 2vh;
  font-weight: 600;
  color: #292e3d;
  width: 30%;
  text-align: center;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 45%;
  font-size: 1.5vh;
}

.contact form input {
  width: 20vw;
  height: 5vh;
  font-size: 1.5vh;
  padding-left: 10px;
}

.contact form textarea {
  font-size: 1.5vh;
  padding-left: 10px;
}

.contact form p {
  position: relative;
  left: -16vw;
  top: -2vh;
}

.contact button {
  background-color: #2947a9;
  color: #ffffff;
  width: 15vw;
  height: 5vh;
  font-size: 2vh;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contactUs {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.contact-details {
  padding-left: 12vw;
  padding-top: 4vh;
  width: fit-content;
  font-size: 2.5vh;
  margin-bottom: 10vh;
  font-weight: 100;
}

.contact-details span {
  color: #2947a9;
}

.contact-details h4:nth-child(1) span {
  padding-right: 3.7vw;
}

.contact-details h4:nth-child(2) span {
  padding-right: 5vw;
}

.contact-details h4:nth-child(3) span {
  padding-right: 5.4vw;
}

.contact-details h3 span {
  font-style: italic;
  font-weight: bolder;
  position: absolute;
  left: 16%;
  margin-top: 1.5vh;
  font-weight: bolder;
}

.contact-details input {
  height: 4vh;
  width: 15vw;
  font-size: 2vh;
  padding: 5px;
}

.contact-details button {
  position: relative;
  height: 6vh;
  padding: 5px;
  border-radius: 5px;
  width: 12vw;
  font-size: 2.5vh;
  background-color: #f9995d;
  color: #ffffff;
}

.contact-details img {
  width: 2.5rem;
}

.footer {
  background-color: #2947a9;
  width: 100%;
  height: 7.5vh;
}

.footer p {
  color: #ffffff;
  font-size: 1.8vh;
  position: relative;
  top: 2.2vh;
  left: 12vw;
  width: fit-content;
}
